

	<div class="modal-dialog" tiles:include="body">
          <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->      
          <!-- At runtime, the body of this <div> will be substituted by -->
          <!-- Tiles in order to create the final HTML page that will be -->
          <!-- sent to the browser.                                      -->
          <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->      
          
          BODY PAGE GOES HERE!
	
<!-- ##################################### -->

	</div>
	
